.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    background-color: #f5f5f5;
    z-index: 100;
    width: 100%;
    padding-top: 33px;
}

.header__icon {
    object-fit: contain;
    height: 40px;
    margin-left: 188px;
    margin-top: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
    max-width: fit-content;
    border: 1px solid #000000;
    border-radius: 999px;
    padding: 0 10px;
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    flex-grow: 1;
    background: transparent;
    /* width: 250px; */
}

.header__center > input:focus {
    outline: none;
    border: none
}

.header__right {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 188px
}